{% extends 'base.html' %}
{% block content %}


    <h1 align="center" style="color: #2D1A32">REGISTER</h1>
    <div class="container box box-logreg">
        <div class="log-reg-box">
            <form method="POST" action="{{ url_for('register') }}">
                form
                <label for="username">Username:>
                    <input type="text" name="username">
                </label><br>

                {#                {{ jinja2.csrf_token() }}#}
                {#                <label for="username">{{ form.username.label }}</label>#}
                {#                <input type="text" id="username" name="username" placeholder="{{ form.username.placeholder }}">#}
                {#                {% if form.username.errors %}#}
                {#                    <div class="error-message">{{ form.username.errors[0] }}</div>#}
                {#                {% endif %}#}

                {#                <div class="d-grid gap-2 d-md-flex justify-content-md-center">#}
                {#                    <button type="submit" class="btn btn-register">Register</button>#}
                {#                </div>#}
            </form>
            <p>Don't have account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </div>

{% endblock %}
