{% extends 'base.html' %}
{% block content %}
    <h2>Topics</h2>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>status</th>
        </tr>
        {% for t in topics %}
            <tr>
                <td>{{ t.topic_id }}</td>
                <td>{{ t.title }}</td>
                <td>{{ t.author }}</td>
                <td>{{ t.status }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
